<link rel="stylesheet" type="text/css" href="style.css">
<div class="thumbnail">
	<div class="canvas">
		<div class="canvas-background"></div>
		<div class="canvas-blur-layer"></div>
		<img src="[original_thumbnail]" class="original-thumbnail" platform="[platform]" square-corners="[square_corners]">
	</div>
	<div class="attribution-banner">
		<div class="attribution-col" id="platform-attribution">
			<img src="[platform_image]" class="platform-logo">
		</div>
		<div class="attribution-col" id="content-uploader">
			<div class="uploader-profile-image"></div>
			<p class="uploader-profile-name">[uploader]</p>
		</div>
	</div>
</div>